html, body {
    font-family: 'Source Sans Pro', sans-serif;
}

#alv-divider {
    border-color: #f4d400;
}
#footer {
    border-color: #013299; /* #013299 */
}
.footer {
    background-color: #fff;
}
h4, strong, th {
    font-weight: 700;
}

.article strong {
    color: #aaaaaa;
}
.article {
    padding: 10px;
    border: 2px solid #eee;
}
.article:hover {
    border: 2px solid #ccc;
    padding: 10px;
}
.article img.small {
    max-width: 220px;
    height: 220px;
}
.order img.small {
    max-width: 220px;
    width: auto !important;
    height: 220px;
}

.prize {
    float: right;
    font-size: 1.25em;
}

input.small,
select.small,
.order-display.small {
    max-width: 4em;
}
input.medium,
select.medium,
.order-display.medium {
    max-width: 5.5em;
}
button.wide {
    width: 100%;
}

.cart .list-group-item img {
    width: 160px;
}
.modal-dialog {
    margin: 100px auto;
}

.fake-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.order-display {
    display: block;
    border: 2px solid #999;
    padding: 4px 6px;
    height: 36px;
}

.articles.row .col-md-4 {
    margin-bottom: 1.5em;
}
.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.checkbox label span.checkbox-label, .radio label span.radio-label {
    margin-left: 30px;
}

.article .description {
    display: block;
    min-height: 75px;
}
.form-overflow {
    z-index: 2000;
}
.selectpicker.btn-group .dropdown-menu {
    max-height: none;
}