<h1>404</h1>


<p />

<button class="btn-primary">Save</button>

<h2>ngShow</h2>


<div>
    <select form-input="testLabel" id="testSelect3" ng-model="searchCriteria.sort1">
        <option value="false">Sortierung: Online seit (absteigend)</option>
        <option value="true">2</option>
        <option value="true">3</option>
        <option value="true">4</option>
        <option value="true">5</option>
    </select>
    {{searchCriteria.sort1}}
</div>


<div highlight="this">
    <form role="form" class="form-horizontal">
        <input type="text" form-input="testLabel" form-helptext="testHelptext" form-input-prepend="CHF" form-input-append=".00" id="test100" ng-model="searchCriteria.placeholder100" />

        <input type="text" form-input="testLabel" form-helptext="testHelptext" name="testInput" id="testInput1" ng-model="searchCriteria.inputTest1"
               i18n-attribute="placeholder" i18n-value="testPlaceholder"/>

        <select form-select="testLabel" id="testSelect1" form-helptext="testHelptext" ng-model="searchCriteria.sort2">
            <option value="1">Sortierung: Online seit (absteigend)</option>
            <option value="2">2</option>
            <option value="2">3</option>
            <option value="2">4</option>
            <option value="2">5</option>
        </select>

        <input type="checkbox" form-check="testLabel" form-helptext="testHelptext" name="textCheckbox1" id="textCheckbox1"
               ng-model="searchCriteria.checkboxTest1"/>

        <input type="radio" form-check="testLabel" form-helptext="testHelptext" name="textRadio1" id="textRadio1_1"
               ng-model="searchCriteria.radioTest1"/>
        <input type="radio" form-check="testLabel" form-helptext="testHelptext" name="textRadio1" id="textRadio1_2"
               ng-model="searchCriteria.radioTest1"/>

        <textarea form-textarea="testLabel" form-helptext="testHelptext" id="textarea1" ng-show="searchCriteria.sort1" form-textarea-large="true"></textarea>

    </form>
</div>

<h2>Collapse</h2>
<div highlight="this">
    <a class="pointer" data-toggle="collapse" data-target="#contact" i18n-msg="commonReportAProblem"></a>

    <div id="contact" class="collapse">
        <h2>Help us improve ---</h2>
        <p>Please don't include any personal or financial information, for example your National Insurance or credit card numbers.</p>
        <form role="form" class="form-inline" action="#">
            <input type="text" form-input="commonReportAProblemLabel1" i18n-attribute="placeholder" i18n-value="commonReportAProblemLabel1" id="exampleInput1" />
            <input type="text" form-input="commonReportAProblemLabel2" i18n-attribute="placeholder" i18n-value="commonReportAProblemLabel2" id="exampleInput2" />
            <button type="submit">Submit</button>
        </form>
    </div>
</div>