<p />
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><strong i18n-msg="commonCart"></strong></div>
            <div class="panel-body" ng-hide="showCart().length==0">
                <p>((bei vaucher abholen und bezahlen etc..))</p>
                <!--<pre>{{ showCart() | json }}</pre>-->
            </div>

            <div class="list-group cart">
                <div class="list-group-item" ng-show="showCart().length==0">
                    <strong>Es befinden sich keine Artikel im Warenkorb.</strong>
                </div>
                <div class="list-group-item" ng-repeat="cartItem in showCart() track by $index">
                    <div class="row">
                        <div class="col-md-3">
                            <img ng-src="{{cartItem.picture}}" class="small" />
                        </div>
                        <div class="col-md-9">
                            <strong class="prize">CHF {{showPrize(cartItem)}}</strong>
                            <h4 class="list-group-item-heading">
                                {{cartItem.title}}
                            </h4>
                            <p />
                            <p class="list-group-item-text">
                            <div class="row">
                                <div class="col-md-4">
                                    <select form-label="articleSize" form-select nya-selectpicker ng-model="cartItem.size" ng-options="c.value group by c.group for c in size" class="medium" id="size{{cartItem.article_id}}"></select>
                                </div>
                                <div class="col-md-3">
                                    <input form-label="articleQuantity" maxlength="2" form-input type="number" id="qty{{cartItem.article_id}}" class="medium" placeholder="Anzahl" tooltip="Anzahl Artikel" ng-model="cartItem.qty" />
                                </div>
                                <div class="col-md-3">
                                    <input form-label="articleCharPrint" maxlength="2" form-input type="text" id="beschriftung{{cartItem.article_id}}" class="medium" placeholder="Druck" tooltip="Beschriftung Nummer oder Buchstaben 5cm (max. 2 Zeichen)" ng-model="cartItem.order_char_print" ng-disabled="{{cartItem.char_print==0}}" />
                                </div>
                            </div>
                            <button glyph-icon="refresh"></button> <button glyph-icon="trash" ng-click="removeFromCart(cartItem)"></button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong i18n-msg="orderTitle"></strong>
            </div>
            <div class="panel-body" ng-controller="OrdersCtrl">
                <message message-severity="danger" ng-hide="orderValidation">Bitte Füllen Sie alle Felder aus.</message>
                <message message-severity="info" ng-hide="noOrders">Es befinden sich keine Artikel im Warenkorb.</message>
                <input type="email" form-input form-label="orderEmail" id="email" name="email" ng-model="order.email" />
                <input type="text" form-input form-label="orderName" id="name" ng-model="order.name" />
                <input type="text" form-input form-label="orderPhone" id="telefon" ng-model="order.phone" />
                <textarea form-textarea form-label="orderAddress" id="adresse" ng-model="order.address"></textarea>
                <input form-label="orderSave" type="checkbox" id="cookie" ng-model="order.saveAddress" />
                <hr />
                <strong><span i18n-msg="orderTotal"></span> {{showTotalPrize()}}</strong>
                <hr />
                <button class="btn-primary wide" ng-click="justOrderIt()"><span i18n-msg="orderButton"></span></button>
            </div>
        </div>
    </div>
</div>
