<message message-severity="danger">DAS IST EINE TESTVERSION - ES WERDEN KEINE BESTELLUNGEN REGISTRIERT</message>
<h1>FC Länggasse <small>Web Shop</small></h1>

<div class="articles row" ng-repeat="article in articlesData" ng-if="$index % 3 == 0">

    <div class="col-md-4" ng-repeat="article in articlesData.slice($index, $index+3)">
        <div class="article">
            <button type="button" ng-show="showDetail" ng-click="showDetail=!showDetail" class="close">×</button>
            <div>
                <img ng-click="showDetail=!showDetail" ng-src="{{article.picture}}" class="pointer small center-block" />
                <h4>{{article.title}}</h4>
                <span class="description" ng-text-truncate="article.description"
                        ng-tt-chars-threshold="100"
                        ng-tt-more-label="Mehr"
                        ng-tt-less-label="Weniger"></span>
                <hr />
                <div ng-show="showDetail">
                    <div class="row">
                        <div class="col-md-6">
                            <select form-label="articleSize" form-select nya-selectpicker ng-model="article.size" ng-options="c.value group by c.group for c in getArticleSize(article)" class="medium" id="size{{article.article_id}}" ng-init="article.size=size[0]"></select>
                        </div>
                        <div class="col-md-6">
                            <input form-label="articleQuantity" maxlength="2" form-input type="number" id="qty{{article.article_id}}" class="medium" placeholder="Anzahl" tooltip="Anzahl Artikel" ng-init="article.qty=1" ng-model="article.qty" />
                        </div>
                    </div>
                    <input form-label="articleCharPrintPrize" maxlength="2" form-input type="text" id="beschriftung{{article.article_id}}" class="medium" tooltip="Beschriftung Nummer oder Buchstaben 5cm (max. 2 Zeichen)" ng-model="article.order_char_print" ng-show="{{article.char_print==1}}" />
                </div>
                <h3>{{showStaticPrize(article,'CHF')}} <span ng-show="{{article.size_type==1}}">/ {{showStaticChildrenPrize(article,'CHF')}} <small>Kinder</small></span></h3>
            </div>
            <button ng-hide="showDetail" ng-click="showDetail=!showDetail"><span i18n-msg="commonDetails"></span></button>
            <button ng-show="showDetail" ng-click="addToCart(article);showDetail=!showDetail"><span i18n-msg="commonAddToCart"></span> <glyph icon="shopping-cart" /></button>
        </div>
    </div>

</div>