    <h1>FC Länggasse <small>Web Shop</small></h1>
<p />
<div class="row">

    <div class="col-md-4" ng-repeat="article in articlesData">
        <div class="article">
            <div>
                <img ng-src="{{article.picture}}" class="small center-block" />
                <h4>{{article.title}}</h4>
                {{article.description}}<hr />
                <div ng-show="showDetail">
                    <div class="row">
                        <div class="col-md-6">
                            <select form-label="articleSize" form-select nya-selectpicker ng-model="article.size" ng-options="c.value group by c.group for c in size" class="medium" id="size{{article.article_id}}" ng-init="article.size=size[0]"></select>
                        </div>
                        <div class="col-md-6">
                            <input form-label="articleQuantity" maxlength="2" form-input type="number" id="qty{{article.article_id}}" class="medium" placeholder="Anzahl" tooltip="Anzahl Artikel" ng-init="article.qty=1" ng-model="article.qty" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input form-label="articleCharPrintPrize" type="checkbox" value="true" id="druck{{article.article_id}}" ng-model="article.order_char_print_bool" /><br />
                        </div>
                        <div class="col-md-6">
                            <input ng-disabled="!article.order_char_print_bool" form-label="articleCharPrint" maxlength="3" form-input type="text" id="beschriftung{{article.article_id}}" class="medium" placeholder="Druck" tooltip="Mit einem Druck auf dem Artikel (max. 3 Zeichen)" ng-model="article.order_char_print" />
                        </div>
                    </div>
                </div>
                <h3>CHF {{showStaticPrize(article)}}</h3>
            </div>
            <button ng-hide="showDetail" ng-click="showDetail=!showDetail"><span i18n-msg="commonAddToCart"></span> <glyph icon="shopping-cart" /></button>

            <button ng-show="showDetail" ng-click="addToCart(article)"><span i18n-msg="commonAddToCart"></span> <glyph icon="shopping-cart" /></button>
        </div>
    </div>

</div>
