<div ng-show="adminMsg.length>0">
    <message ng-repeat="msg in adminMsg" message-severity="{{msg.severity}}">{{msg.msg}}</message>
</div>
<h1>Admin <a class="btn btn-default" href="#/admin/edit">Artikel erstellen</a></h1>
<div ng-controller="ArticlesCtrl">
<div class="articles row" ng-repeat="article in articlesData" ng-if="$index % 3 == 0">

    <div class="col-md-4" ng-repeat="article in articlesData.slice($index, $index+3)">
        <div class="article">
            <div>
                <img ng-src="{{article.picture}}" class="small center-block" />
                <h4>{{article.title}}</h4>
                <div ng-show="showDetail">
                    <div class="row">
                        <div class="col-md-6">
                            <select form-label="articleSize" form-select nya-selectpicker ng-model="article.size" ng-options="c.value group by c.group for c in getArticleSize(article)" class="medium" id="size{{article.article_id}}" ng-init="article.size=size[0]"></select>
                        </div>
                        <div class="col-md-6">
                            <input form-label="articleQuantity" maxlength="2" form-input type="number" id="qty{{article.article_id}}" class="medium" placeholder="Anzahl" tooltip="Anzahl Artikel" ng-init="article.qty=1" ng-model="article.qty" />
                        </div>
                    </div>
                    <input form-label="articleCharPrintPrize" maxlength="2" form-input type="text" id="beschriftung{{article.article_id}}" class="medium" tooltip="Beschriftung Nummer oder Buchstaben 5cm (max. 2 Zeichen)" ng-model="article.order_char_print" />
                </div>
                <h3>{{showStaticPrize(article,'CHF')}} <span ng-show="{{article.size_type==1}}">/ {{showStaticChildrenPrize(article,'CHF')}} <small>Kinder</small></span></h3>
            </div>
            <button ng-click="editArticle(article.article_id)">Bearbeiten</button>
            <button ng-click="deleteArticle(article.article_id)">Löschen</button>
        </div>
    </div>

</div>
</div>